<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>id</key>
			<string>otaGroup</string>
			<key>label</key>
			<string>iOS Updates</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.notpreston.volta/prefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.notpreston.volta</string>
			<key>key</key>
			<string>safeBlockOTA</string>
			<key>label</key>
			<string>Block iOS Updates</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openVoltweaks:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Check or Change in Voltweaks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>id</key>
			<string>guardGroup</string>
			<key>label</key>
			<string>Crash Guard</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.notpreston.volta/prefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.notpreston.volta</string>
			<key>key</key>
			<string>safeGuard</string>
			<key>label</key>
			<string>Crash Guard</string>
		</dict>
		<dict>
			<key>action</key>
			<string>clearGuard:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Turn Volta Back On</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If the Home Screen ever gets stuck restarting, Voltweaks can also switch any single tweak off, Volta included.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Safety</string>
</dict>
</plist>
